body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000;
    justify-content: space-evenly;
}
.boardElements{
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1rem;
}


#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    width: 90vw; 
    height: 90vw; 
    max-width: 640px; 
    max-height: 640px;
    border: 2px solid #d6cfd5;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; /* Responsive font size */
}

.tile.skyblue {
    background-color: #000;
}

.tile.blue {
    background-color: #11EE00;
}

.piece {
    width: 75%;
    height: 75%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; 
    font-weight: 500;
    color: #3a3737;
    cursor: pointer;
    transition: transform 0.3s ease !important;
}

.Player-1 {
    background-color: #0011EE;
}

.Player-2 {
    background-color: #EE0011;
}

#player {
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.2rem; 
}

.ricochete {
    width: 10px !important;
    rotate: 45deg;
}


.chango-regular {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.semi-rico {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.green {
    background-color: #16e1e9 !important;
    border: 3px solid rgb(184, 46, 46);
}

#directions {
    display: flex;
    margin-top: 0.5rem;
    gap: 1rem; 
}

#directions button {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #EDC312;
    color: #123CED;
    padding: 0.5rem 1rem; 
    font-size: 1rem;
    border: 2px solid transparent;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s linear;
}

.invisible {
    opacity: 0;
}


@media (max-width: 600px) {
    #board {
        
        width: 100vw;
        height: 100vw;
    }
    body{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }


    .tile {
        font-size: 1rem;
    }

    .piece {
        width: 70%;
        height: 70%;
        font-size: 1rem;
    }

    #directions {
        flex-direction: column;
        gap: 0.5rem;
    }

    #directions button {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.2rem;
    }
    #player{
        font-size: 0.95rem;
        margin-bottom: 0.5rem ;
    }
    .timer-options{
        margin-top: 0;
    }

}

.timer{
    color: #11EE00;
    font-family: "Chango", sans-serif;
}
.timer-options{
    display: flex;
    flex-direction: column;
   align-items: center;
   
}
.img-elements img{
    margin: 4px;
    height: 20px;
    width: 20px;
}